<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css" rel="stylesheet" />

  <link rel="stylesheet" href="../Sources/Login/login2.css">
</head>

<body>
  <!-- <video id="myVideo" src="../Imagenes/fondoLogin.mp4" autoplay loop muted></video> -->
  <div class='stars'></div>
  <div class='twinkling'></div>
  <div class='clouds'></div>

  <div class="container-fluid">
    <div class="imagen">
      <img src="../Imagenes/Logo2.svg" id="logo" alt="">
      <font id="queda"> Queda</font>
      <font id="ya">Ya</font>
    </div>
  </div>
  
  <div class="container-fluid">
    
    <div class="container" style="width: 400px; height: auto;">
      <!-- Pills navs -->
      <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="tab-login" data-mdb-toggle="pill" href="#pills-login" role="tab"
            aria-controls="pills-login" aria-selected="true">
            <font>Login</font>
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="tab-register" data-mdb-toggle="pill" href="#pills-register" role="tab"
            aria-controls="pills-register" aria-selected="false">
            <font>Register</font>
          </a>
        </li>
      </ul>
      <!-- Pills navs -->

      <!-- Pills content -->
      <div class="tab-content">
        <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
          <form action="/login" method="post">
            <div class="text-center mb-3">
              <h3>
                <font>Login</font>
              </h3>
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" name="email" id="loginName" class="form-control" />
              <label class="form-label" for="loginName">
                <font>Email or username</font>
              </label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" name="password" id="loginPassword" class="form-control" />
              <label class="form-label" for="loginPassword">
                <font>Password</font>
              </label>
            </div>

            <!-- 2 column grid layout -->
            <div class="row mb-4">
              <div class="col-md-6 d-flex justify-content-center">
                <!-- Checkbox -->
                <div class="form-check mb-3 mb-md-0">
                  <input class="form-check-input" type="checkbox" value="" id="loginCheck" checked />
                  <label class="form-check-label" for="loginCheck">
                    <font> Remember me </font>
                  </label>
                </div>
              </div>

              <div class="col-md-6 d-flex justify-content-center">
                <!-- Simple link -->
                <a href="#!">
                  <font><u>Forgot password?</u></font>
                </a>
              </div>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">
              <font>Sign in</font>
            </button>

            <!-- Register buttons -->
            <div class="text-center">
              <p>
                <font> Not a member? </font><a href="#!">
                  <font><u>Register</u></font>
                </a>
              </p>
            </div>
          </form>
        </div>
        <div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
          <form id="myForm" action="/register" method="post">
            <div class="text-center mb-3">
              <h3>
                <font>Registro</font>
              </h3>
            </div>

            <!-- Username input -->
            <div class="form-outline mb-4">
              <input type="text" id="registerUsername" name="nombreUsuario" class="form-control" required />
              <label class="form-label" for="registerUsername">
                <font>Username</font>
              </label>
            </div>

            <!-- name input -->
            <div class="form-outline mb-4">
              <input type="text" id="registerName" name="nombre" class="form-control" required />
              <label class="form-label" for="registerName">
                <font>Nombre</font>
              </label>
            </div>

            <!-- surname input -->
            <div class="form-outline mb-4">
              <input type="text" id="registerSurname" name="apellido" class="form-control" required />
              <label class="form-label" for="registerSurname">
                <font>Apellido</font>
              </label>
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="registerEmail" name="email" class="form-control" required />
              <label class="form-label" for="registerEmail">
                <font>Email</font>
              </label>
            </div>

            <!-- Birthday input -->
            <div class="form-outline mb-4">
              <input type="date" id="registerBirth" name="fecha_nacimiento" class="form-control" required />
              <label class="form-label" for="registerBirth">
                <font>Fecha de nacimiento</font>
              </label>
            </div>

            <!-- ID input -->
            <div class="form-outline mb-4">
              <input type="text" id="registerId" name="dni" class="form-control" required />
              <label class="form-label" for="registerId">
                <font>Dni</font>
              </label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="registerPassword" name="password" class="form-control" required />
              <label class="form-label" for="registerPassword">
                <font>Password</font>
              </label>
            </div>

            <!-- Repeat Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="registerRepeatPassword" class="form-control" required />
              <label class="form-label" for="registerRepeatPassword">
                <font>Repeat password</font>
              </label>
            </div>
            <div id="liveAlertPlaceholder"></div>

            <!-- Checkbox -->
            <div class="form-check d-flex justify-content-center mb-4">
              <input class="form-check-input me-2" type="checkbox" value="" id="registerCheck" checked
                aria-describedby="registerCheckHelpText" />
              <label class="form-check-label" for="registerCheck">
                <font>He leido y <u>accepto los términos</u></font>
              </label>
            </div>

            <!-- Submit button -->
            <button type="submit" id="liveAlertBtn" class="btn btn-primary btn-block mb-3">Sign in</button>
          </form>
        </div>
      </div>
      <!-- Pills content -->
    </div>
  </div>
  <!-- MDB -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

  <script>
    const alertPlaceholder = document.getElementById('liveAlertPlaceholder')
    const appendAlert = (message, type) => {
      // Check if the same message is already shown
      const existingAlert = alertPlaceholder.querySelector(`[data-message="${message}"]`)
      if (existingAlert) {
        // If so, do not create a new alert
        return
      }

      const wrapper = document.createElement('div')
      wrapper.innerHTML = [
        `<div class="alert alert-${type} alert-dismissible" role="alert" style="margin-left:15px; margin-top:35px; position:absolute; z-index: 3; text align: center;" data-message="${message}">`,
        `   <div>${message}</div>`,
        '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
        '</div>'
      ].join('')

      alertPlaceholder.append(wrapper)
    }

    const alertTrigger = document.getElementById('liveAlertBtn')
    if (alertTrigger) {
      alertTrigger.addEventListener('click', () => {
        const form = document.getElementById('myForm');
        form.addEventListener('submit', function (event) {
          const password1 = document.getElementById('registerPassword').value;
          const password2 = document.getElementById('registerRepeatPassword').value;
          if (password1 !== password2) {
            event.preventDefault(); // Evita que se envíe el formulario
            appendAlert('Las contraseñas no coinciden!', 'danger')
          }
        });
      })
    }

    // Remove data-message attribute from alert when it is closed
    alertPlaceholder.addEventListener('closed.bs.alert', (event) => {
      const message = event.target.dataset.message
      if (message) {
        delete event.target.dataset.message
      }
    })
  </script>



</body>

</html>
