<div class="container position-sticky z-index-sticky top-0">
    <nav
      class="navbar navbar-expand-lg blur top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4 rounded-5"
      style="background-color: #020b1c;opacity: 90%; justify-content: center;">
      <div class="container-fluid">
        <picture>
          <source media="(min-width: 992px)" srcset="./imagenes/Logo2.svg" id="shake">
          <img src="./imagenes/Logo2v2.svg" alt="" id="shake"
            style="height: 60px; width: 60px; margin-right: 5px;">

        </picture>
        <img id="logo-bar" src="./Imagenes/LogoBar.svg" alt="" style="height: 50px; margin-right: 5px;">
        <button class="navbar-toggler custom-toggler rounded-5" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation" style="padding-left: 20px;">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse nav-underline" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="reveal-text nav-link" id="logo-text"
                style="color: #d38600; font-size:medium;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"><b>Queda
                  <font style="color: #ff5757;">Ya</font>
                </b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="linkPagina2">
                <font class="colorText">Crea tu evento</font>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <font class="colorText">FAQ's</font>
              </a>
            </li>
          </ul>
          <form class="d-flex justify-content-center align-items-center" role="search" action="/search" method="post">
            
            <div class="input-group">
                <input id="searchBar" type="search" class="border-secondary form-control rounded-start-5"
                placeholder="Busca un evento" aria-label="searchBar" aria-describedby="button-addon2"
                style="background-color: #020b1c; color: #c4d7e9;" onkeyup="sendData(this)">
                <button title="boton" class="btn btn-outline-secondary rounded-end-5" type="submit"
                  id="button-addon2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-search" viewBox="0 0 16 16">
                    <path
                      d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                  </svg></button>
                  <br>
                <div data-bs-spy="scroll" class="flex-column align-items-stretch pe-4 border-end" style="overflow: scroll;height: 10rem;position: absolute;background-color: white;top: 100%; border-radius: 3px;z-index: 3;visibility: hidden;" id="searchResults"></div>
              
            </div>
          </form>
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                <img id="profilePic" 
                <% if (user !=undefined) {%>
                  <% if (user.nombre == "Marc" ) {%>
                  src="../Imagenes/profilePic.jpg" alt="">
                  <% }else{ %>
                    src="../Imagenes/images.jpeg" alt="">
                    <% } %>
                <% }else{%>
                  src="../Imagenes/DefaultProfilePic.png" alt="">
                <% } %>

              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" 
                  <% if (user !=undefined) {%>
                    href="/profile">
                      <% }else{%>
                        href="#">
                        <% } %>
                  
                  
                    <font class="colorText"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                        fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16" style="margin-bottom: 5px;">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                        <path fill-rule="evenodd"
                          d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                      </svg>
                      <% if (user !=undefined) {%>
                        <%= user.nombre.substring(0,20) %>
                          <% }else{%>
                            Invitado
                            <% } %>
                    </font>
                  </a></li>
                <li><a class="dropdown-item" <% if (user !=undefined) {%>
                    href="/logout">
                    <% }else{%>
                      href="/login">
                      <% } %>
                        <font class="colorText"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                            fill="currentColor" class="bi bi-box-arrow-in-left" viewBox="0 0 16 16"
                            style="margin-bottom: 5px;">
                            <path fill-rule="evenodd"
                              d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z" />
                            <path fill-rule="evenodd"
                              d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z" />
                          </svg>
                          <% if (user !=undefined) {%>
                            Cerrar Sesion
                            <% }else{%>
                              Login/Register
                              <% } %>
                        </font>
                  </a></li>
              </ul>
            </li>
          </ul>


        </div>
      </div>
    </nav>
  </div>