<html>
  <head><title>Evento comprado!</title></head>
  <body>
    <h1>Compra realizada con exito!</h1>
    <p>
      Gracias por confiar en nosotros!
      Si tienes alguna pregunta contactenos via
      <a href="mailto:orders@example.com">help@quedaya.com</a>.
    </p>
  </body>
</html>